.transaction-form-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    background-color: beige;
    border-radius: 10px;
}

.transaction-form {
    width: 100%;
}

.info-card {
    padding: 20px 10px;
    background-color: cadetblue;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 5px;
    width: 100%;
    color: whitesmoke;
    text-align: center;
    font-weight: 600;
    font-size: larger;
}

.button {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.add-transaction-btn {
    padding: 20px;
    width: 100%;
    direction: rtl;
}
