.tab-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    margin-left: 40px;
}

.info-card {
    padding: 20px 10px;
    background-color: beige;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 5px;
}